body {
    background-color: #bad78e;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

h1 {
    color: #ffffcc;
    text-align: center;
    font-family:'Flavors', cursive;
}

p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    text-align: center;
    color: #3c3c3c;
    line-height: 2.0;
}

img {
    max-width: 100%;
   
}  

a:link {
    color: #3c3c3c;
    text-decoration: none;
}

a:visited {
    color: #bb0000;
}


a:hover {
    color: #333300;
    text-decoration: none;

}

a:active {
    color: #e79a97;
}